---
interface Props {
	href: string;
}

const { href} = Astro.props;
console.log(Astro.props)
console.log(Astro.params)

console.log("l;kja;lskjdf!")
---
<div>
  htmlastrocontnet
  <!-- <slot /> -->
</div>